@import url(font.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #040D1F;
}

.container {
    max-width: 1143px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header__prenav {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.header__prenav-img {
    margin-right: 24px;
}

.header__prenav-heading {
    font-family: CR;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    width: 166px;
}

.nav {
    background: rgba(1, 3, 5, 0.8);
    padding: 29px 0;
}

.nav .container {
    display: flex;
    justify-content: space-between;
}

.nb-left__heading {
    font-family: CB;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 27px;
}

.nb-right__list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nb-right__link {
    font-family: MR;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 400ms;
    border-bottom: 2px solid transparent;
}

.nb-right__link:hover {
    color: #ED8E00;
    padding-bottom: 40px;
    border-bottom: 2px solid #ED8E00;
}

.header-content {
    background: rgba(7, 15, 25, 0.75);
    background-image: url(../images/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 12/6;
    position: relative;
    display: flex;
    align-items: center;
}

.header-content:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(7, 15, 25, 0.75);
    z-index: 2;
}

.header-content-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header-content__title {
    font-family: MB;
    font-size: 64px;
    color: #FFFFFF;
    z-index: 3;
}

.header-content__info {
    font-family: MR;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #C8C8C8;
    max-width: 570px;
    z-index: 3;
}

.header-content__btns {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    z-index: 3;
}

.header-content__btn {
    background: #040D1F;
    border-radius: 4px;
    padding: 13px 48px;
    font-family: RM;
    font-size: 14px;
    text-align: justify;
    color: #FFFFFF;
    border: none;
    transition: 500ms;
}

.header-content__btn:hover {
    background: #F18128;
    color: #000000;
}

.burger {
    display: none;
    visibility: hidden;
}

.title {
    font-family: CR;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: #F18128;
    margin-bottom: 50px;
}

.films {
    margin-bottom: 75px;
}

.films .title {
    margin-top: 60px;
    text-transform: capitalize;
    color: #F18128;
    font-family: CR;
    font-size: 36px;
    margin-bottom: 54px;
    text-decoration: underline;
    text-decoration-line: 2px solid #F18128;
    text-underline-offset: 10px;
}

.films-cards-card {
    width: 255px;
    height: 367.05px;
    background: url(../images/black-panther.png);
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.films-cards-card:hover {
    background: url(../images/pantera-gif.gif);
    background-repeat: no-repeat;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    border-radius: 6px;
    position: absolute;
    opacity: 0;
    transition: 500ms;
}

.films-cards-card:hover .card-content {
    opacity: 1;
}

.films-cards-card img {
    margin-bottom: 12px;
}

.films-cards-card span {
    margin-bottom: 30px;
    background: rgba(7, 15, 25, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 9px;
    font-size: 14px;
    font-family: MR;
    padding: 5px 28px;
}

.films-cards-card h3 {
    font-size: 22px;
    margin-bottom: 12px;
    font-family: MR;
}

.films-cards-card p {
    font-family: RR;
    font-size: 14px;
    line-height: 21px;
    max-width: 226px;
}

.films-cards {
    display: flex;
    justify-content: space-between;
}

.films-cards-card:nth-child(2):hover {
    background: url(../images/batman-gif.gif);
    background-position: 1%;
}

.films-cards-card:nth-child(2) {
    background: url(../images/batman.png);
    transition: .3s;
}

.films-cards-card:nth-child(3) {
    background: url(../images/gentlemen.png);
    transition: .3s;
}

.films-cards-card:nth-child(3):hover {
    background: url(../images/gentlemen-gif.gif);
    background-position: 1%;
}

.films-cards-card:nth-child(4) {
    background: url(../images/vlastelin-kolec.png);
    transition: .3s;
}

.films-cards-card:nth-child(4):hover {
    background: url(../images/vlastelin-gif.gif);
    background-position: 1%;
}

.videofilm {
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    padding: 43px 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.videofilm-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 52.5px;
}

.black-widow__video {
    position: absolute;
    z-index: -1;
    top: -17.5%;
    right: 0;
    height: 135%;
}

.black-widow-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    position: absolute;
    top: 25%;
}

.black-widow__img {
    width: 445px;
}

.black-widow__text {
    font-family: RR;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    color: #000000;
    max-width: 558px;
}

.black-widow__btn {
    background: #040D1F;
    border-radius: 4px;
    border: none;
    padding: 15px 48px;
    width: 166px;
    font-family: RM;
    font-size: 14px;
    text-align: justify;
    color: #FFFFFF;
    transition: 400ms;
}

.black-widow__btn:hover {
    background: #F18128;
    color: #FFFFFF;
}

.collection-films__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    width: 362px;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%), url(../images/series-marvel.png);
    padding: 8px;
    border-radius: 8px;
    overflow: hidden;
    background-size: cover;
}

.collection-films__text {
    margin-top: 16px;
    font-size: 20px;
    line-height: 22px;
    font-family: CB;
}

.collection-films__block a {
    display: block;
    transition: 500ms;
}

.collection-films__block:hover a {
    transform: rotateY(360deg) scale(1.3);
}

.squares1,
.squares2 {
    display: block;
    transition: 700ms;
}

.squares1 {
    transform: translateY(-110%) rotateY(0);
}

.squares2 {
    transform: translateY(110%) rotateY(0);
}

.collection-films__block:hover .squares1 {
    transform: translateY(0) rotateY(360deg);
}

.collection-films__block:hover .squares2 {
    transform: translateY(0) rotateY(-360deg);
}

.collection-films__block:nth-child(2) {
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%), url(../images/fast-and-furios.png);
    background-size: cover;
}

.collection-films__block:nth-child(3) {
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%), url(../images/star-wars.png);
    background-size: cover;
}

.collections-films {
    display: flex;
    justify-content: space-between;
}

.collections {
    padding: 60px 15px;
}

.series {
    padding-bottom: 63px;
}

.series-block-main {
    background-image: url(../images/series-tron.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 96px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 27px;
}

.series-block-main__title {
    font-family: CB;
    font-size: 40px;
    line-height: 45px;
    color: #FFFFFF;
}

.series-blocks {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.series-block {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.series-block__info {
    font-family: CR;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.series-block:nth-child(1) {
    background-image: url(../images/vandavision.png);
    height: 404px;
    grid-column: span 6;
    grid-row: span 14;
}

.series-block__title {
    font-family: CB;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
}

.series-block__title::before {
    content: '';
    display: block;
    background-image: url(../images/Group.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 20px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms linear;
}

.series-block:hover .series-block__title::before {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.series-block:nth-child(2) {
    background-image: url(../images/flash.png);
    height: 183px;
    grid-column: span 3;
    grid-row: span 7;
}

.series-block:nth-child(3) {
    background-image: url(../images/the-great.png);
    height: 183px;
    grid-column: span 3;
    grid-row: span 7;
}

.series-block:nth-child(4) {
    background-image: url(../images/gotham.png);
    height: 183px;
    grid-column: span 3;
    grid-row: span 7;
}

.series-block:nth-child(5) {
    background-image: url(../images/witcher.png);
    height: 183px;
    grid-column: span 3;
    grid-row: span 7;
}

.footer {
    padding: 24px 0;
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-apps {
    display: flex;
    gap: 45px;
}

.footer__text {
    font-family: CB;
    font-size: 18px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}